body, html {
  height: 100vh;
}

body {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

abc {
  width: 100%
}

.content {
  flex: auto;     /* this is the key; consumes all available height */
  height: 90vh;
  width: 100%;
}

.header {
  height: 64px;
}

.footer {
  height: auto;
}

* {
  margin: 0;
}